{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1> {{ program.title }}</h1>
    <a href="{{ path('wild_show', {slug: program.title|lower|replace({' ': '-'})}) }}">All the info on this serie</a>

    <h2>Season: {{ season.number}} Episode: {{ episode.number }}</h2>
    <a href="{{ path('wild_episodes', {id: season.id}) }}">All the info on this season</a>
    <h3>Title of episode: {{ episode.title }}</h3>
    <p>Synopsis: {{ episode.synopsis }}</p>
    <br>



{% endblock %}
